#body{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  background: gray;

  & #firstColumn{
    color: red;
    background-color: azure;
    div{
      & :hover{
        cursor: pointer;
      }
    }
  }

  & #secondColumn{

  }
}